* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
  font-size: 17px;
  line-height: 1.6;
  color: #ffff;
}

#showcase {
  background: url('img/bg.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}

#showcase h1 {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 10px;
}

#showcase p {
  font-size: 1rem;
}

#showcase #button {
  text-decoration: none;
  color: #ffff;
  border: 1px solid #ffff;
  padding: 0.3em 0.8em;
  border-radius: 0.4em;
  margin-top: 1rem;
}

#showcase #button:hover {
  background-color: #072048;
  transition: 0.5s ease-in-out;
}

#showcase #button:active {
  background-color: #193b72;
}

main {
  padding: 20px;
  color: #072048;
}

main p {
  color: black;
}
